body {
  margin: 0;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

form {
  margin: 20px;
}

.color-hex {
  visibility: hidden;
}

.color-container {
  align-items: center;
  border: solid 4px #000;
  display: flex;
  height: 100px;
  justify-content: flex-end;
  margin: 25px;
  padding-right: 20px;
}

.delete-btn {
  background-image: url("./../Images/delete.svg");
  background-position: center;
  background-size: cover;
  border: transparent;
  border-radius: 150%;
  height: 30px;
  width: 30px;
}

.form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-content: center;
  padding: 25px;
}

.generate-btn,
.save-palette-btn {
  width: 70%;
}

.lock-btn {
  background-color: rgba(123, 123, 123, 0);
  background-image: url("./../Images/002-padlock-unlock.svg");
  background-position: center;
  background-size: cover;
  border: transparent;
  height: 40px;
  width: 40px;
}

.locked {
  background-image: url("./../Images/001-padlock.svg");
}

.main-color-palette {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.main-page-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10vh, 90vh;
}

.palette-tab {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.project-id {
  visibility: hidden;
}

.project-title-display {
  text-transform: capitalize;
}

.proj-title {
  cursor: pointer;
}

.saved-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 10px;
  width: 40%;
}

.saved-palettes {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  overflow-y: scroll;
  padding: 25px;
}

.thumbnail {
  border: solid 1px #000;
  height: 30px;
  width: 30px;
}